.project-section{
    background: #182132;
}
.project-section p{
color: #fff;
font-size: 16px;
}
.project-section h3{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.project-section span.material-symbols-outlined {
    color: #fa962c;;
    font-size: 36px;
    margin: 0px;
}

.business-section{
    background:url(../../../../assets/images/projectbg.png)no-repeat #010715;
    padding: 50px 0px;
    background-size: cover;
}
.getstarted{
    background: linear-gradient(to bottom, #ff9623,#db6f02);
    border-radius: 5px;
    color: #fff;
    position: relative;
    top: -81px;
    padding: 12px;
}
.connect-btn, .connect-btn:hover{
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-top: 10px;
}
.getstarted h2{
    margin: 0px;
    font-size: 30px;
}
.project-subtitle{
    color: #fa962c;;
    margin-bottom: 20px;
    font-size: 18px;
}
.project-title{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}
.project-dtls{
    background: #182133;
    padding: 15px;
    border-radius: 0px;
    margin-right: 8px;
}
.btn.btn-dark.project-dtls.active {
    background: #db6f02;
    color: #333;
    font-weight: 500;
}
.card-project {
    background: #182132;
    color: #fff;
}
button.btnexplore.btn.btn-primary {
    background: linear-gradient(to bottom, #ff9623,#db6f02);
    width: 50%;
    color: #333;
    font-weight: 500;
    border: none;
}
.card-project-cnt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background: #182132;
}
.card {
    height: 100%;
    padding: 20px;
}
.project-dtls.btn-dark:last-child{
 margin-right: 0px;
}