.requestquote-form {
    min-width: 150px;
    width: 100%;
    background: transparent;
  }
  .requestquote{
   background:  #182132;
   
  }
  .full-width {
    width: 100%;
    background: transparent!important;
  }
  .requestquotes{
    background: url(../../../../assets/images/buble.png) no-repeat top -75px right -65px #030617;
    padding: 60px 30px;
    border-radius: 10px;
    margin: auto;
  }
  .requestquotes h3{
    font-weight: bold;
    color: #fff;
    margin: 0px;
  }
  .requestquotes p{
    color: #fff;
    font-size: 15px;
  }
.requestquotes span.material-symbols-outlined {
    position: relative;
    top: 4px;
    margin-right: 6px;
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent!important;
    color: #fff!important;
    border-bottom: 2px solid #fff!important;
  }
  .requestquote-title{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
  }
  ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label{
    color: #fff!important;
  }
  ::ng-deep .mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled{
    background: #fff;
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: #fff!important;
  }
  ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label{
    color: #fff!important;
  }
/*::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: transparent!important;
  color: #fff!important;
  border-bottom: 2px solid #fff!important;
}


::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: #fff!important;

}*/