<section class="service-section">
 
    
    
      <div class="container about-cnt">
        <div class="row">
          <div class="col col-md-6">
            <h3 class="card-title about-compan">What We Do  <span class="border-title"></span></h3>
    
             <h2> The Perfect Services <br>We're Offering</h2>
    
             <p class="mt-4">Some quick example text to build on the card title and make up the bulk of the card's content. Somo build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content. Somo build on the card title and make up the bulk of the card's content.
            </p>
            <p class="mt-4">
                <button class="btn btn-primary">More Services</button>
            </p>
          </div>
          <div class="col col-md-6">
            <div class="card-sec">
                <div class="row">
                  <div class="col col-md-6">
                    <div class="card about-card">
                       
                        <div class="card-body">
                            <img src="../../../../assets/images/webdevelopment.png" class="img-fluid" alt="web">
            
                          <h5 class="card-title about-card-title">Web<br>  Development</h5>
                          <span class="material-symbols-outlined float-end">
                            arrow_right_alt
                            </span>
                        </div>
                      </div>
                  </div>
                  <div class="col col-md-6">
                    <div class="card about-card">
                      
                        <div class="card-body card-refer">
                            <img src="../../../../assets/images/userinterfacedesign.png"  class="img-fluid" alt="web">
            
                          <h5 class="card-title about-card-title">User <br> Interface Design </h5>
                          <span class="material-symbols-outlined float-end">
                            arrow_right_alt
                            </span>
                        </div>
                      </div>
                  </div>
                 
                </div>
                <div class="row mt-4">
                    <div class="col col-md-6">
                      <div class="card about-card">
                         
                          <div class="card-body">
                            <img src="../../../../assets/images/user-experience.png"  class="img-fluid" alt="web">
              
                            <h5 class="card-title about-card-title">User Experience <br> Design</h5>
                            <span class="material-symbols-outlined float-end">
                                arrow_right_alt
                                </span>
                          </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                      <div class="card about-card">
                          
                          <div class="card-body card-refer">
                            <img src="../../../../assets/images/social-media.png"  class="img-fluid" alt="web">
              
                            <h5 class="card-title about-card-title">Digital<br>  Marketing</h5>
                            <span class="material-symbols-outlined float-end">
                                arrow_right_alt
                                </span>
                          </div>
                        </div>
                    </div>
                   
                  </div>
              </div>
          </div>
          
        </div>
      </div>
    </section>