section.feedback-section {
    background: url(../../../../assets/images/servicesbg.png)#010715 no-repeat top;
    background-size: calc(190% + 1px);
}
.card-title.feedback-company{
    color: #0d6efd;
    font-size: 18px;
}
.card-title.feedback-company .border-title {
    background: #0d6efd;
    width: 100px;
    height: 2px;
    transform: rotate(0deg);
    display: inline-block;
    margin-right: 3px;
}
.container.feedback-cnt h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.container.feedback-cnt p {
    color: #fff;
    font-size: 15px;
}

ul.nav.nav-tabs.mt-4 {
    border: 0px;
}
li.nav-item a{
    background: #131b2a;
    color: #fff;
    border-radius: 0px;
}
.nav-tabs .nav-item .nav-link.active {
   
    background: #0d6efd;
    border-radius: 0px;
    color: #fff;
}
.feed-subtitle{
    font-size: 20px;
    color: #fff;
}

.feedback-faq button.accordion-button.collapsed {
    background: transparent!important;
    color: #fff!important;
    border: none!important;
}

.feedback-faq .accordion-item {
    background: transparent;
    border: none!important;
    border-bottom: 2px solid #fff!important;
}
.feedback-faq .accordion-body {
    color: #fff;
}
.feedback-faq .accordion-button:not(.collapsed) {
    background: transparent;
    color: #fff;
}
.feedback-faq  .accordion-button:focus {
    border: none!important;
    border-bottom: 2px solid #fff!important;
    box-shadow: none;
}
.accordion-item:last-of-type {
    border-radius:0px;
}
.accordion-button::after {
    content:"";
    background: url("../../../../assets/images/plus.png") no-repeat;
    height: 25px;
    width: 25px;
    position: relative;
    left: 0px;
    top:0px;
  }
  .accordion-button:not(.collapsed)::after {
    content:"";
    background: url("../../../../assets/images/minus.png") no-repeat;
    width: 25px;
    height: 25px;
    position: relative;
    left: 0px;
    top:0px;
  }