<section class="feedback-section pt-5 pb-5">
    <div class="container feedback-cnt mt-5 mb-5">
        <div class="row feed-div">
            <div class="col col-12 col-lg-6 col-md-6">
                <img src="../../../../assets/images/feed2.png" alt="feed" class="img-fluid">
            </div>
            <div class="col col-12 col-lg-6 col-md-6">
                <h3 class="card-title feedback-company mb-3">Our Benifits  <span class="border-title"></span></h3>
    
                <h2 class="mb-4"> Provide Awesome Services <br>With Our Tools</h2>
                <ul class="nav nav-tabs mt-4" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Interface Design</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Web devlopment</a>
                    </li>
                  
                  </ul>
                  <div class="tab-content pt-2" id="tab-content">

                    <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
                      <h4 class="feed-subtitle mt-2">We combine the Stagity with marketing and design technology to ensure the customer prefer you</h4>
                        <p class="mt-4">Some quick example text to build on the card title and make up the bulk of the card's content. Somo build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content. Somo build on the card title and make up the bulk of the card's content.
                            </p>
                    </div>
                    <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
                        <h4 class="feed-subtitle mt-2">We combine the Stagity with marketing and design technology to ensure the customer prefer you</h4>

                        <p class="mt-4">Some1 quick example text to build on the card title and make up the bulk of the card's content. Somo build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content. Somo build on the card title and make up the bulk of the card's content.
                            </p>
                    </div>
                  </div>
              
            </div>
          
        </div>
      
          <div class="row feedback-cnt feedback-faq mt-5">
              
              <div class="col col-12 col-lg-6 col-md-6">




                
                  <h3 class="card-title feedback-company mb-3">Frequently asked Questions  <span class="border-title"></span></h3>
      
                  <h2 class="mb-3"> Your  Are Confused! Question <br>and Answers.</h2>
                  <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How Can Start digital Marketing Business?
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              How Can Start digital Marketing Business?
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus..
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              How Can Start digital Marketing Business?
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus..
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-lg-6 col-md-6">
                <img src="../../../../assets/images/feed1.png" alt="feed" class="img-fluid">
              </div>
          </div>
      
    </div>

    
</section>
